# Ignore compiled object files
*.o

# Ignore executables (add specific names here)
power
*.exe
*.out

# Ignore log files and slurm outputs
*.log
slurm_*.err
slurm_*.out
*.dat
*.lock

# Ignore generic system files
.DS_Store

# Ignore the output csv files
*.csv
